body {
    margin-top: 0px;
    background: #ffffff;
  } 
  
  .pricing-content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;

  }

  .CardsParent{
  width: 800px;
  align-self: center;
  }

  
  .pricing-design {
    position: relative;
  }
  
  .Choicecontainer {
    display: flex;
  }
  .choiceCart {
background-color: #f3f3f3;
width: 300px;
height: 50px;
border-radius: 16px;
box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.6);
flex-direction: row;
/* align-self: center; */

  }

  .choiceCart_Inner {
    background-color: #852d2d;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    justify-content: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    
      }
      .choiceCart_Inner p{
        color: #0aa1d6;
        /* text-align:center; */
        font-weight: bold;
        text-align: center;
        /* box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.6); */
        /* align-self: center; */
        
          }
  .single-pricing {
    background: #B50E2C;
    padding: 40px 40px;
    width: 300px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
  }
  
  .single-pricing:before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 18px 18px 190px 18px;
    border: 1px solid #eee;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .price-head h2 {
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 600;
  }
  
  .price-head h1 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 5px;
  }
  
  .single-pricing ul {
    list-style: none;
    margin-top: 30px;
  }
  
  .single-pricing ul li {
    line-height: 30px;
  }
  
  .price-btn {
    background: #B50E2C;
    padding: 10px 30px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price-btn:hover {
    background: #0aa1d6;
  }
  
  a {
    text-decoration: none;
  }
  
  .section-title {
    margin-bottom: 0px;
  }
  
  .text-center {
    text-align: center!important;
  }
  
  .section-title h2 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
  }
  
  /* Media Queries */
  @media (max-width: 991.98px) {
 
  }
  @media only screen and (max-width: 768px) {
	  .CardsParent{
      width: 300px;
      }
    

}
  @media only screen and (max-width: 576px) {
 
    .CardsParent{
      width: 300px;
      }
    

}




@media only screen and (max-width: 380px) {
  .CardsParent{
    width: 800px;
    }
  

}


@media only screen and (max-width: 280px) and (max-height: 660px) {
  .CardsParent{
    width: 800px;
    }
  
}



@media only screen and (min-width: 1900px) and (min-height: 900px) {
  .CardsParent{
    width: 800px;
    }
  
}